.carrossel__titulo {
  color: var(--cor-texto-primaria);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 1em 0 0.5em 0;
}

.carousel-inner {
  width: 60%;
  margin-left: 20%;
}

.carousel-control-prev {
  margin-left: 10%
}

.carousel-control-prev {
  background-color: #8f76ac;
  width: 1.5em;
}

.carousel-control-prev:hover {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.carousel-control-next {
  margin-right: 10%
}

.carousel-control-next {
  background-color: #8f76ac;
  width: 1.5em;
}

.carousel-control-next:hover {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}


.paragrafo__cliente {
  padding-top: 2em;
  text-align: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 992px) {

  .carousel-inner {
    width: 300px;
    margin-left: 40%;
  }

  .carousel-control-prev {
    margin-left: 35%
  }

  .carousel-control-prev {
    width: 3em;
  }

  .carousel-control-next {
    margin-right: 35%
  }

  .carousel-control-next {
    width: 3em;
  }
}