
.navbar-brand { font-weight: bold; };

.navbar {
  background-color: var(--roxo) !important; /* cor de fundo do menu */
}

.navbar-brand {
  font-size: 32px;
  color: #db7093 !important; /* cor do nome/logo */
}

.nav-link {
  color: var(--branco) !important;
  font-size: 18px;
}

.nav-link:hover {
  color: var(--laranja) !important;
}